{% extends 'base.html' %}

{% block content %}


<div class="card my-5 mx-auto shadow-lg"  style="max-width:520px; margin-top:40px;">
    <div class="card-title">
        <h2 class="text-center text-success my-3">OTP Verifivation Page</h2>
        <div class="card-body">
        {% if messages %}
            {% for message in messages %}
            <div class="my-3 py-0 class_message_use" id="message">
                <div {% if message.tags %} class="alert alert-danger alert-{{ message.tags }} alert-dismissible fade show"{% endif %} role="alert">
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <strong>Important: </strong>
                    {% endif %}
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            </div>
            {% endfor %}
        {% endif %}
            <form action="{% url 'otp_verify' %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <label class="text-dark">OTP</label>
                    <input required type="text" class="form-control" name="OTP" placeholder="Enter Valid OTP">
                </div>
                <button type="submit" class="btn btn-primary mx-auto mt-3 form-control">Verify OTP</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}